.container {
  width: 100%;
  height: 100%;
  position: fixed;
  /* background: #f6f6f6; */
}

.l-p1 {
  width: 20%;
  height: 100%;
  color: #fff;
  position: fixed;
  font-size: 14px;
  text-align: left;
  background-color: #000000f7;
}

.r-p1 {
  height: 100%;
  margin-left: 20%;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.r-p1::-webkit-scrollbar {
  display: none;
}

.sidebar-parent {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

.sidebar-parent::-webkit-scrollbar {
  display: none;
}

.sidebar-user-url {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.sidebar-user-photo {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar-user-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.sidebar-user-content {
  margin-left: -20px;
  margin-right: -20px;
}

.sidebar-user-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar-user-title {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.sidebar-navigation {
  margin: 25px 0px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}

.sidebar-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-navigation li {
  position: relative;
  padding: 0 20px;
}

.sidebar-navigation a {
  color: #ccc;
  display: block;
  text-decoration: none;
}

.sidebar-social {
  margin-top: 25px;
  padding: 0px 20px;
  font-size: 22px;
}

.sidebar-title {
  font-size: 11px;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.sidebar-content {
  font-size: 22px;
}

.sidebar-button {
  padding: 0;
  color: #ccc;
  line-height: 1;
  margin-right: .5em;
  display: inline-block;
  text-decoration: none;
}

.sidebar-icon {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.contact-parent {
  max-width: 850px;
  padding: 50px;
  background-color: #fff;
  color: #333;
}

.contact-title {
  line-height: 1;
  margin-bottom: 15px;
  color: #555;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.contact-section {
  overflow: hidden;
}

.contact-row {
  margin: 10px 0px;
}

.contact-label {
  display: block;
  clear: both;
  width: 150px;
  float: left;
}

.contact-value {
  display: block;
  margin: 0;
}

.about-inner,
.portfolio-inner {
  position: relative;
}

.about-parent,
.portfolio-parent {
  padding: 30px;
  color: #333;
}

.about-title,
.portfolio-title {
  color: #555;
  line-height: 1;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.about-desc {
  font-weight: 700;
  margin: 30px 0px 0px;
  font-family: cursive;
}

.about-content {
  margin-top: 0px;
}

.about-section {
  width: 94%;
  margin: 0 auto;
  text-align: left;
  max-width: 850px;
  position: relative;
  margin-bottom: 3.6rem;
}

.about-profile,
.about-skills {
  width: 50%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}

.about-profile-title,
.about-skills-title {
  font-size: 1rem;
  color: #bb0a0a;
  line-height: 30px;
  margin-bottom: 12px;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

.about-profile-desc,
.about-skills-desc {
  margin: 0 0 30px 0;
}

.about-ul {
  padding: 0;
  list-style: none;
  margin: 12px 0px 24px 0px;
}

.about-li {
  padding: 0 0 1rem 0;
}

.about-progress-container {
  width: 100%;
  background-color: #ddd;
}

.about-progress-skills {
  color: white;
  font-size: 12px;
  text-align: right;
}

.about-progress-green {background-color: #4CAF50;}
.about-progress-blue {background-color: #2196F3;}
.about-progress-red {background-color: #f44336;}
.about-progress-grey {background-color: #808080;}

.about-key {
  color: #878787;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.about-value {
  line-height: 1;
  display: block;
  color: #008cba;
  font-size: 1rem;
}

.portfolio-timeline {
  list-style: none;
  padding-left: 30px;
  margin: 0px 0 0px 120px;
  border-left: 8px solid #eee9dc;
}

.portfolio-work {
  position: relative;
  padding-bottom: 30px;
}

.portfolio-timeline:not(:first-child) .portfolio-work {
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.portfolio-timeline-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  margin-bottom: .3em;
}

.portfolio-timeline-sub-title {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 15px;
  text-transform: none;
}

.portfolio-date {
  margin-top: -10px;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.portfolio-circle {
  margin-top: -10px;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #48b379;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.portfolio-timeline:first-child .portfolio-date,
.portfolio-timeline:first-child .portfolio-circle {
  top: 10px;
}

.portfolio-timeline:not(:first-child) .portfolio-date,
.portfolio-timeline:not(:first-child) .portfolio-circle {
  top: 50px;
}

.portfolio-content {
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}

.portfolio-content p,
.portfolio-content strong {
  margin: 0;
}

.portfolio-content strong {
  font-weight: 500;
}

.portfolio-list {
  font-size: 16px;
  color: #878787;
  margin-top: 15px;
}

.portfolio-technologies-header {
  margin-top: 30px;
}

.portfolio-technologies-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
  padding-bottom: .5em;
}

.portfolio-technologies-content {
  margin: 0;
  padding: 0;
}

.portfolio-technologies-items {
  display: inline-block;
}

.portfolio-technologies-items a {
  color: #FFF;
  font-size: 13px;
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #008CBA;
  /* background-color: #555555; */
}
.portfolio-technologies-items a:hover {
  text-decoration: underline;
}

.notFound-inner {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #bb0a0a;
  font-size: 20px;
  padding: 20px 0px;
  position: absolute;
  text-align: center;
  background-color: #fff;
}

.notFound-inner-ul {
  margin: 0px;
  font-size: 16px;
  padding: 10px 0px;
}

.notFound-inner-li {
  list-style: none;
}














